body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: Sahel;
    color: greenyellow;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkgray;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: greenyellow;
}

@media screen and (max-height: 450px) {
    .sideNav { padding-top: 15px; }
    .sideNav a { font-size: 18px; }
}

a.quickMenuButton {
    padding: 1px 6px;
    border: 1px outset greenyellow;
    border-radius: 3px;
    color: white;
    background-color: grey;
    text-decoration: none;
}